# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.pdb

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# .NET Core
project.lock.json
artifacts/

# NuGet Packages
*.nupkg
packages/
!packages/build/

# Environment variables
.env
.env.*
appsettings.Development.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db